/*
Syntax error: File to import not found or unreadable: compass/css3/transition.
              Load paths:
                /home/citaire/git/prez-devtools-slides/theme
                /home/citaire/git/prez-devtools-slides/theme/scss
        on line 1 of scss/phone.scss

1: @import "compass/css3/transition";
2: 
3: 
4: /*Smartphones (portrait and landscape) ----------- */
5: /*@media only screen
6: and (min-width : 320px)

Backtrace:
scss/phone.scss:1
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/import_node.rb:67:in `import'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/import_node.rb:28:in `imported_file'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/import_node.rb:37:in `css_import?'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:217:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `send'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `send'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:7:in `send'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/vendor_ruby/sass/../sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/vendor_ruby/sass/../sass/engine.rb:315:in `_render'
/usr/lib/ruby/vendor_ruby/sass/../sass/engine.rb:262:in `render'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin/compiler.rb:362:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin/compiler.rb:201:in `each'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin/compiler.rb:235:in `watch'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin.rb:107:in `send'
/usr/lib/ruby/vendor_ruby/sass/../sass/plugin.rb:107:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:448:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:315:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/../sass/exec.rb:21:in `parse!'
/usr/bin/scss:8
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/css3/transition.\A               Load paths:\A                 /home/citaire/git/prez-devtools-slides/theme\A                 /home/citaire/git/prez-devtools-slides/theme/scss\A         on line 1 of scss/phone.scss\A \A 1: @import \"compass/css3/transition\";\A 2: \A 3: \A 4: /*Smartphones (portrait and landscape) ----------- */\A 5: /*@media only screen\A 6: and (min-width : 320px)"; }
